<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c26133c1-80b8-44ac-b7b8-446051142a7d" Alias="USN_FBS_Form" Level="3">
  <Info>
    <Name>Form (Footer Settings)</Name>
    <Icon>icon-umb-contour color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pods/Footer+Pod+(Block+Settings)</Folder>
    <Compositions>
      <Composition Key="80ee73f4-57ea-4b28-bb65-7ef169ebf91c">USN_CMP_AnimateSettings</Composition>
      <Composition Key="4291d34b-7929-4e3c-8509-5c5b4795f6dc">USN_CMP_CommonBlockSettings</Composition>
      <Composition Key="7af2c7b5-30c2-472d-b349-f531e38e0253">USN_CMP_ItemName</Composition>
      <Composition Key="f155eb87-1779-43d2-a5fb-d7022ceb261d">USN_CMP_PodWidthSettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c5c53bb3-8fa1-4309-a05a-e443565bf3b8</Key>
      <Name>Form button color</Name>
      <Alias>formButtonColor</Alias>
      <Definition>23b4621f-73bc-4797-8847-35b8c112e21f</Definition>
      <Type>USN.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="layout/columns">Columns</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b5ff2577-5cf3-4216-b827-55a2aab22cae</Key>
      <Name>Form button size</Name>
      <Alias>formButtonSize</Alias>
      <Definition>c685e52f-c3a0-41c0-be10-21e55eeefa1a</Definition>
      <Type>USN.OptionsShowHide</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="layout/columns">Columns</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8ab2d5ca-fb84-459b-8cd5-ac6efe6d2e14</Key>
      <Name>Form button style</Name>
      <Alias>formButtonStyle</Alias>
      <Definition>43b1dd6c-5e60-443f-8c47-9a218a7ba094</Definition>
      <Type>USN.OptionsShowHide</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="layout/columns">Columns</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>4e020cd9-0b14-4527-a297-a290f7dd5c18</Key>
      <Caption>Columns</Caption>
      <Alias>layout/columns</Alias>
      <Type>Group</Type>
      <SortOrder>999</SortOrder>
    </Tab>
  </Tabs>
</ContentType>