<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="feb809c0-8268-479e-a650-3480c42403aa" Alias="USN_CMP_Links_Component_Settings" Level="3">
  <Info>
    <Name>Links (Component Settings)</Name>
    <Icon>icon-link color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions/Pods%2fComponents+(Unique+Settings)</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>06a9f8a1-f5e4-4e14-bb48-1ad9cd793328</Key>
      <Name>Items per row</Name>
      <Alias>itemsPerRow</Alias>
      <Definition>d2d65047-6bc6-481e-82d7-ad4a7379f974</Definition>
      <Type>USN.OptionsShowHide</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="layout/design">Design</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>4632b1e9-ea47-4d41-9e43-f12eaa0200b5</Key>
      <Caption>Layout</Caption>
      <Alias>layout</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>5b295c3d-b132-4a91-b752-085b8eaf60f6</Key>
      <Caption>Design</Caption>
      <Alias>layout/design</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>