<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="341274a6-5b0d-4521-b144-81d7ca2a7b89" Alias="USN_CMP_Form_Settings" Level="3">
  <Info>
    <Name>Form (Settings)</Name>
    <Icon>icon-umb-contour color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions/Pods%2fComponents+(Unique+Settings)</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>5ed6f4d4-c1a5-4223-946c-56668124bced</Key>
      <Name>Form button color</Name>
      <Alias>formButtonColor</Alias>
      <Definition>23b4621f-73bc-4797-8847-35b8c112e21f</Definition>
      <Type>USN.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="layout/button">Button</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>319ae860-f678-4812-b291-6d1ab64f976a</Key>
      <Name>Form button size</Name>
      <Alias>formButtonSize</Alias>
      <Definition>c685e52f-c3a0-41c0-be10-21e55eeefa1a</Definition>
      <Type>USN.OptionsShowHide</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="layout/button">Button</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>defccc35-c333-4c40-b994-c9711f4326d3</Key>
      <Name>Form button style</Name>
      <Alias>formButtonStyle</Alias>
      <Definition>43b1dd6c-5e60-443f-8c47-9a218a7ba094</Definition>
      <Type>USN.OptionsShowHide</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="layout/button">Button</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4daed580-89ab-4443-b31e-6eb0a098015e</Key>
      <Name>Form container background color</Name>
      <Alias>formContainerBackgroundColor</Alias>
      <Definition>5485e479-2d49-4abd-a266-e63dccfddb19</Definition>
      <Type>USN.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="layout/design">Design</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>5f71c713-0f88-4ea4-b646-08eacab6a922</Key>
      <Caption>Layout</Caption>
      <Alias>layout</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>ab470324-7e1d-4d4b-8029-d73dbdd860ae</Key>
      <Caption>Button</Caption>
      <Alias>layout/button</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>d140be29-f60b-4eb0-97fc-bbd1c1901f8c</Key>
      <Caption>Design</Caption>
      <Alias>layout/design</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>