<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e60eb862-0b18-4e21-9bce-d6f424b464c3" Alias="USN_CMP_Banners_Settings" Level="3">
  <Info>
    <Name>Banners (Settings)</Name>
    <Icon>icon-pictures-alt-2 color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions/Pods%2fComponents+(Unique+Settings)</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>98c8b3b8-26f0-4edc-9b76-7bbd9316062f</Key>
      <Name>Auto rotate speed</Name>
      <Alias>autoRotateSpeed</Alias>
      <Definition>a1f562fe-b1a5-45e8-8dea-da0ae1941233</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[A value of 0 seconds will stop auto rotation.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="layout/carousel">Carousel</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d32e234f-760c-4561-a9bd-a63650798ec6</Key>
      <Name>Disable carousel</Name>
      <Alias>disableCarousel</Alias>
      <Definition>a00e6c4f-327d-480e-a3ff-935be6c4d571</Definition>
      <Type>USN.TrueFalseShowHide</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If the carousel is disabled, banner items will be stacked.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="layout/carousel">Carousel</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>29391b93-f806-4477-a276-9707c6e00947</Key>
      <Name>Show arrows</Name>
      <Alias>showArrows</Alias>
      <Definition>479ccd27-6c00-43f1-b043-a005898e4018</Definition>
      <Type>USN.TrueFalseShowHide</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="layout/carousel">Carousel</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bb8bd038-c8cc-4a65-adfb-ab188c797be0</Key>
      <Name>Show dots</Name>
      <Alias>showDots</Alias>
      <Definition>479ccd27-6c00-43f1-b043-a005898e4018</Definition>
      <Type>USN.TrueFalseShowHide</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="layout/carousel">Carousel</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>804cd2b8-0f4a-4cf5-a915-8113b3ecdea1</Key>
      <Caption>Layout</Caption>
      <Alias>layout</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>88f78eca-7c9d-409e-90de-501d9c5d019e</Key>
      <Caption>Carousel</Caption>
      <Alias>layout/carousel</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>