<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c2df847e-5bc1-450a-8266-1fe04ad26700" Alias="USN_CMP_Scripts" Level="3">
  <Info>
    <Name>Page Scripts</Name>
    <Icon>icon-document color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions/Web+Pages+(Tabs)</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>774b07af-5a02-4295-bed8-b03b9e9d756f</Key>
      <Name>Disable global scripts</Name>
      <Alias>disableGlobalAfterOpeningBodyScripts</Alias>
      <Definition>479ccd27-6c00-43f1-b043-a005898e4018</Definition>
      <Type>USN.TrueFalseShowHide</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="scripts/afterOpeningBodyScripts1">After opening body scripts</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>04dabe00-e03e-4ad1-b933-a3620a4fffc0</Key>
      <Name>Disable global scripts</Name>
      <Alias>disableGlobalBeforeClosingBodyScripts</Alias>
      <Definition>479ccd27-6c00-43f1-b043-a005898e4018</Definition>
      <Type>USN.TrueFalseShowHide</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="scripts/beforeClosingBodyScripts">Before closing body scripts</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>494acf9d-bab6-44b4-b6c5-240788691d31</Key>
      <Name>Disable global scripts</Name>
      <Alias>disableGlobalHeaderClosingScripts</Alias>
      <Definition>479ccd27-6c00-43f1-b043-a005898e4018</Definition>
      <Type>USN.TrueFalseShowHide</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="scripts/headerClosingScripts1">Header closing scripts</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>32c1571a-5d5f-4dac-b9d8-5df835ae9a5c</Key>
      <Name>Disable global scripts</Name>
      <Alias>disableGlobalHeaderOpeningScripts</Alias>
      <Definition>479ccd27-6c00-43f1-b043-a005898e4018</Definition>
      <Type>USN.TrueFalseShowHide</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="scripts/headerOpeningScripts">Header opening scripts</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d180a506-4b6d-46f5-a90b-363d820fd28a</Key>
      <Name>Instructions</Name>
      <Alias>instructionsAfterOpeningBody</Alias>
      <Definition>b7f65b8c-35a0-4a22-a6e3-26357f748fed</Definition>
      <Type>USN.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[<div class="alert  alert-usn" role="alert">These scripts are placed after the opening &lt;body&gt; tag on this page of your website. If entering JavaScript make sure you enclose your code with &lt;script&gt; &lt;/script&gt; tags.</div>]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="scripts/afterOpeningBodyScripts1">After opening body scripts</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0a0f4f3e-d990-40c2-8b34-09ad3ef36689</Key>
      <Name>Instructions</Name>
      <Alias>instructionsBeforeClosingBody</Alias>
      <Definition>b7f65b8c-35a0-4a22-a6e3-26357f748fed</Definition>
      <Type>USN.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[<div class="alert  alert-usn" role="alert">These scripts are placed before the closing &lt;/body&gt; tag on this page of your website. If entering JavaScript make sure you enclose your code with &lt;script&gt; &lt;/script&gt; tags.</div>]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="scripts/beforeClosingBodyScripts">Before closing body scripts</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5bfb7ca4-2bde-4a1e-ba7a-e8407e837293</Key>
      <Name>Instructions</Name>
      <Alias>instructionsHeaderClosing</Alias>
      <Definition>b7f65b8c-35a0-4a22-a6e3-26357f748fed</Definition>
      <Type>USN.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[<div class="alert  alert-usn" role="alert">These scripts are placed before the closing &lt;/head&gt; tag on this page of your website. If entering JavaScript make sure you enclose your code with &lt;script&gt; &lt;/script&gt; tags.</div>]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="scripts/headerClosingScripts1">Header closing scripts</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a7fdce39-5a4c-42a4-b68f-5e12a71c4813</Key>
      <Name>Instructions</Name>
      <Alias>instructionsHeaderOpening</Alias>
      <Definition>b7f65b8c-35a0-4a22-a6e3-26357f748fed</Definition>
      <Type>USN.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[<div class="alert  alert-usn" role="alert">These scripts are placed after the opening &lt;head&gt; tag on this page of your website. If entering JavaScript make sure you enclose your code with &lt;script&gt; &lt;/script&gt; tags.</div>]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="scripts/headerOpeningScripts">Header opening scripts</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>54907e91-d6ea-4e4c-b898-8a02b1728fc2</Key>
      <Name>Scripts</Name>
      <Alias>pageAfterOpeningBodyScripts</Alias>
      <Definition>4e9f23cc-3cde-4d44-873b-e710aae97947</Definition>
      <Type>USN.CodeEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="scripts/afterOpeningBodyScripts1">After opening body scripts</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4347d350-88c9-48d1-b752-fb22a077e78e</Key>
      <Name>Scripts</Name>
      <Alias>pageBeforeClosingBodyScripts</Alias>
      <Definition>4e9f23cc-3cde-4d44-873b-e710aae97947</Definition>
      <Type>USN.CodeEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="scripts/beforeClosingBodyScripts">Before closing body scripts</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6cb6d4fd-b71b-4567-ab13-770558257f94</Key>
      <Name>Scripts</Name>
      <Alias>pageHeaderOpeningScripts</Alias>
      <Definition>4e9f23cc-3cde-4d44-873b-e710aae97947</Definition>
      <Type>USN.CodeEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="scripts/headerOpeningScripts">Header opening scripts</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0456f196-a1c4-4141-a721-d540c859d2d1</Key>
      <Name>Scripts</Name>
      <Alias>pageHeaderScripts</Alias>
      <Definition>4e9f23cc-3cde-4d44-873b-e710aae97947</Definition>
      <Type>USN.CodeEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="scripts/headerClosingScripts1">Header closing scripts</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>6103a0f2-9f89-4e84-a50a-1dd2a9d981a4</Key>
      <Caption>Scripts</Caption>
      <Alias>scripts</Alias>
      <Type>Tab</Type>
      <SortOrder>998</SortOrder>
    </Tab>
    <Tab>
      <Key>76e09441-6abf-4161-843c-5eff084bc0fd</Key>
      <Caption>After opening body scripts</Caption>
      <Alias>scripts/afterOpeningBodyScripts1</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>a5257162-77f6-43d9-bbb1-ee8d2ac851c8</Key>
      <Caption>Header opening scripts</Caption>
      <Alias>scripts/headerOpeningScripts</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>b4e59cbb-48e5-41f0-ac28-bf2662f8bd9b</Key>
      <Caption>Before closing body scripts</Caption>
      <Alias>scripts/beforeClosingBodyScripts</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>ed43360d-6890-400e-9334-b877f2239e10</Key>
      <Caption>Header closing scripts</Caption>
      <Alias>scripts/headerClosingScripts1</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>