<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6bb6f398-5abd-4197-bfb5-db3c8af9d59c" Alias="USN_CMP_SearchLinks_Settings" Level="3">
  <Info>
    <Name>Search with Links (Settings)</Name>
    <Icon>icon-search color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions/Pods%2fComponents+(Unique+Settings)</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>582fb4c5-d240-4ec9-b86b-a0a83044e202</Key>
      <Name>Search button color</Name>
      <Alias>searchButtonColor</Alias>
      <Definition>23b4621f-73bc-4797-8847-35b8c112e21f</Definition>
      <Type>USN.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="layout/button">Button</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>23c05f5a-11fe-4607-b367-691e13f7245b</Key>
      <Caption>Layout</Caption>
      <Alias>layout</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>8274f9f9-ca36-4620-912a-eaf1d82c7ea3</Key>
      <Caption>Button</Caption>
      <Alias>layout/button</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>