<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5911dd86-10d9-4c5b-a29f-454aa3f35849" Alias="USN_CMP_Image_Settings" Level="3">
  <Info>
    <Name>Image (Settings)</Name>
    <Icon>icon-picture color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions/Pods%2fComponents+(Unique+Settings)</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>acaf3ee7-1847-46c6-a807-c6efbde139ca</Key>
      <Name>Box pad</Name>
      <Alias>boxPad</Alias>
      <Definition>479ccd27-6c00-43f1-b043-a005898e4018</Definition>
      <Type>USN.TrueFalseShowHide</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Padding will be added to image to fit image style selected above.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="layout/image">Image</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e8de2134-e4e5-458c-b778-16ecb5fa90bf</Key>
      <Name>Image opacity</Name>
      <Alias>imageOpacity</Alias>
      <Definition>b2fbc6b1-b5d7-4cb3-907f-116878873bec</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="layout/image">Image</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>dbd48f11-c2e0-4f17-bcd3-3e7c8975d180</Key>
      <Name>Image opacity on hover</Name>
      <Alias>imageOpacityOnHover</Alias>
      <Definition>604693f2-0b5a-4480-9e77-9a35763268db</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="layout/image">Image</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b19e05c7-f178-4ad7-8785-f1f854bf7c26</Key>
      <Name>Image style</Name>
      <Alias>imageStyle</Alias>
      <Definition>86af9894-6d0e-4cf0-a200-55902062263f</Definition>
      <Type>USN.OptionsShowHide</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="layout/image">Image</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6d22b2c9-da02-4984-9eff-0742c2610486</Key>
      <Name>Maximum image width</Name>
      <Alias>maximumImageWidth</Alias>
      <Definition>80dabac8-1614-4dc5-b7c8-4524d53819aa</Definition>
      <Type>USN.PixelsPercentage</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="layout/image">Image</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fc22de03-ec60-4ef6-910a-79de60664769</Key>
      <Name>Text alignment</Name>
      <Alias>textAlignment</Alias>
      <Definition>3385e82a-0c1c-43c6-b80a-123f1dc4024c</Definition>
      <Type>USN.OptionsShowHide</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="layout/text">Text</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>06813a6b-878f-4b0d-a4a9-64ebe9c6dc36</Key>
      <Caption>Text</Caption>
      <Alias>layout/text</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>08ba81e1-70f7-4171-bdb0-dbe3a2a07f8a</Key>
      <Caption>Layout</Caption>
      <Alias>layout</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>fab9d59c-cab4-4c71-bb5a-a17da46a2c78</Key>
      <Caption>Image</Caption>
      <Alias>layout/image</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>