/*  
---------------------------------------------------
Scroll Prompt - Large Breakpoint
---------------------------------------------------  
*/

.component.usn_cmp_banner:has(.slick-dots) .scroll-prompt {
	bottom: 50px;
}

.scroll-prompt .scroll-link {
    height: auto;
    padding-bottom: 0;
}
.scroll-prompt .scroll-link span {
    font-size: 9px; text-transform: uppercase; letter-spacing: 0.09em;
    display: block;
    margin-top: 15px;
    display: none;
}
.scroll-prompt .scroll-link i {
    font-size: 40px;
}

/*  
---------------------------------------------------
- Mouse wheel .scroll-prompt-wheel
---------------------------------------------------  
*/

/*  
---------------------------------------------------
- Line .scroll-prompt-line
---------------------------------------------------  
*/
