/*  
---------------------------------------------------
Meta
---------------------------------------------------  
*/

.meta p,
.meta ul { 
    margin:5px 0;
}

.item .meta p,
.item .meta ul { 
    font-size:85%;
}

.meta a {
    display:inline!important;
}

.meta ul { 
    list-style: none; margin:0; padding:0; 
}
.meta ul li { 
    display:inline;
}
.meta ul li + li::before { 
    content:",";
    display:inline;
    position: relative; left:-3px;
}

.item .meta { 
    margin-top:var(--base-half-spacing);
}
.listing_short .item .meta { 
    margin-top:5px;
    font-size:90%;
}
.item.item_has-bg .meta {
    margin: 0;
    padding: 0 var(--base-spacing) var(--base-spacing);
}

.component.meta.base-bg { 
    margin-top:var(--base-spacing)!important;
    padding-top:var(--base-half-spacing)!important;
    border-width:var(--base-border-width) 0 0;
    border-style:solid;
    border-color: rgba(var(--base-borders), 1);
}

@media (min-width:768px) {

	.item.item_text-left:has(.image) .meta,
	.item.item_text-right:has(.image) .meta {
		position: absolute;
		bottom: 0;
	}
	html[dir="ltr"] .item.item_text-left:has(.image) .meta,
	html[dir="ltr"] .item.item_text-right:has(.image) .meta {
		left: 0;
	}
	html[dir="rtl"] .item.item_text-left:has(.image) .meta,
	html[dir="rtl"] .item.item_text-right:has(.image) .meta {
		right: 0;
	}

}