<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e6e8a208-82d0-43c4-b461-60ef911228b2" Alias="USN Apply Image Opacity" Level="3">
  <Info>
    <Name>USN Apply Image Opacity</Name>
    <EditorAlias>USN.TrueFalseShowHide</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <Folder>USN+Data+Types/True%2fFalse</Folder>
  </Info>
  <Config><![CDATA[{
  "hideFields": "imageOpacity,imageOpacityOnHover",
  "falseFields": "-imageOpacity,-imageOpacityOnHover",
  "trueFields": "+imageOpacity,+imageOpacityOnHover"
}]]></Config>
</DataType>