<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a00e6c4f-327d-480e-a3ff-935be6c4d571" Alias="USN Carousel Disable" Level="3">
  <Info>
    <Name>USN Carousel Disable</Name>
    <EditorAlias>USN.TrueFalseShowHide</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <Folder>USN+Data+Types/True%2fFalse</Folder>
  </Info>
  <Config><![CDATA[{
  "falseFields": "+showArrows,+showDots,+autoRotateSpeed",
  "trueFields": "-showArrows,-showDots,-autoRotateSpeed"
}]]></Config>
</DataType>