<?xml version="1.0" encoding="utf-8"?>
<DataType Key="604693f2-0b5a-4480-9e77-9a35763268db" Alias="USN Image Opacity (Hover 40)" Level="3">
  <Info>
    <Name>USN Image Opacity (Hover 40)</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>USN+Data+Types/Slider</Folder>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 40.0,
  "InitialValue2": 0.0,
  "MaximumValue": 100.0,
  "MinimumValue": 0.0,
  "StepIncrements": 5.0
}]]></Config>
</DataType>