<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b2fbc6b1-b5d7-4cb3-907f-116878873bec" Alias="USN Image Opacity (100)" Level="3">
  <Info>
    <Name>USN Image Opacity (100)</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>USN+Data+Types/Slider</Folder>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 100.0,
  "InitialValue2": 0.0,
  "MaximumValue": 100.0,
  "MinimumValue": 0.0,
  "StepIncrements": 5.0
}]]></Config>
</DataType>