<?xml version="1.0" encoding="utf-8"?>
<DataType Key="80dabac8-1614-4dc5-b7c8-4524d53819aa" Alias="USN Maximum Image Width" Level="3">
  <Info>
    <Name>USN Maximum Image Width</Name>
    <EditorAlias>USN.PixelsPercentage</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>USN+Data+Types/Miscellaneous</Folder>
  </Info>
  <Config><![CDATA[{
  "minimum": 1,
  "stepSize": 1,
  "default": 140,
  "type": {
    "type": "pixels"
  }
}]]></Config>
</DataType>