<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a121cbff-6d19-4a21-a91b-85f6969ef1e1" Alias="USN Page Size" Level="3">
  <Info>
    <Name>USN Page Size</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>USN+Data+Types/Slider</Folder>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 12.0,
  "InitialValue2": 0.0,
  "MaximumValue": 120.0,
  "MinimumValue": 1.0,
  "StepIncrements": 1.0
}]]></Config>
</DataType>