/*  
---------------------------------------------------
Header large screens 08
---------------------------------------------------  
*/

body.header-08-lg header#site-header .row { 
    height: var(--large-header);
}

body.header-08-lg header#site-header .row::before {
    content:"";
    order:2;
}
html[dir="ltr"] body.header-08-lg header#site-header .row::before { 
    margin-left:auto;
}
html[dir="rtl"] body.header-08-lg header#site-header .row::before { 
    margin-right:auto;
}

/* Logo */
body.header-08-lg header#site-header #logo { 
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    order:2;
}

/* Main Navigation */
body.header-08-lg header#site-header nav.main { 
    order:1;
}

body.header-08-lg header#site-header .has-child > .expand-subpages,
body.header-08-lg header#site-header nav.main ul li.has-child>span::after {
    width: 20px;
}
html[dir="ltr"] body.header-08-lg header#site-header nav.main>ul>li.has-child>span>a {
    padding-right: 20px;
}
html[dir="rtl"] body.header-08-lg header#site-header nav.main>ul>li.has-child>span>a {
    padding-left: 20px;
}

/* Main Navigation - Dropdowns */
body.header-08-lg header#site-header nav.main ul>li>ul {
    top: calc((var(--large-header) / 2) + 15px);
}
html.no-touch body.header-08-lg header#site-header nav.main ul>li:hover>ul,
body.header-08-lg header#site-header nav.main ul>li.open-child>ul {
    top: calc((var(--large-header) / 2) + 22px);
}

body.header-08-lg header#site-header nav.main ul ul>li>ul {
    top: -7px;
}
html.no-touch body.header-08-lg header#site-header nav.main ul ul>li:hover>ul,
body.header-08-lg header#site-header nav.main ul ul>li.open-child>ul {
    top: 0;
}

/* Secondary Navigation */
body.header-08-lg header#site-header nav.secondary { 
    order:3;
}
html[dir="ltr"] body.header-08-lg header#site-header nav.secondary { 
    margin-right: calc(var(--base-half-spacing) - 10px);
}
html[dir="rtl"] body.header-08-lg header#site-header nav.secondary { 
    margin-left: calc(var(--base-half-spacing) - 10px);
}

body.header-08-lg header#site-header nav.secondary ul li.dropdown .dropdown-menu { 
    top: calc((var(--large-header) / 2) + 22px)!important;
}

html[dir="ltr"] body.header-08-lg header#site-header nav.secondary ul li.dropdown .dropdown-menu { 
    right: 0!important; left: auto!important;
}
html[dir="rtl"] body.header-08-lg header#site-header nav.secondary ul li.dropdown .dropdown-menu { 
    left: 0!important; right: auto!important;
}

body.header-08-lg header#site-header nav.secondary ul li.dropdown > a > span { 
    display:none;
} 

body.header-08-lg header#site-header nav.secondary ul li.dropdown > a > i {
    top: 2px;
    font-size: 125%;
}

/* Shopping Cart */
body.header-08-lg header#site-header nav.shopping-cart { 
    order:4;
}
html[dir="ltr"] body.header-08-lg header#site-header nav.shopping-cart { 
    margin-right: var(--base-half-spacing);
}
html[dir="rtl"] body.header-08-lg header#site-header nav.shopping-cart { 
    margin-left:var(--base-half-spacing);
}

/* CTA Navigation */
body.header-08-lg header#site-header nav.cta-links { 
    order:5;
}
html[dir="ltr"] body.header-08-lg header#site-header nav.cta-links { 
    margin-right: var(--base-half-spacing);
}
html[dir="rtl"] body.header-08-lg header#site-header nav.cta-links { 
    margin-left: var(--base-half-spacing);
}

/* Site Search */
body.header-08-lg header#site-header .site-search { 
    order:6;
}
html[dir="ltr"] body.header-08-lg header#site-header .site-search { 
    margin-right: var(--base-half-spacing);
}
html[dir="rtl"] body.header-08-lg header#site-header .site-search { 
    margin-left:var(--base-half-spacing);
}
html[dir="ltr"] body.header-08-lg header#site-header .site-search form { 
    right: 30px;
}
html[dir="rtl"] body.header-08-lg header#site-header .site-search form { 
    left: 30px;
}




/* Mega menu - Modal links inside Main Navigation */

html:has(body.main-nav_mega-modal.header-08-lg.mega-menu-modal),
body.main-nav_mega-modal.header-08-lg.mega-menu-modal,
body.main-nav_mega-modal.header-08-lg.mega-menu-modal .modal.show {
	padding: 0 !important;
}

html:has(body.main-nav_mega-modal.header-08-lg.mega-menu-modal),
body.main-nav_mega-modal.header-08-lg.mega-menu-modal {
	overflow: hidden !important;
}


body.main-nav_mega-modal.header-08-lg.mega-menu-modal:not(.transparent-header-lg) #site {
	padding-top: var(--large-header);
}

body.main-nav_mega-modal.header-08-lg.mega-menu-modal header#site-header {
	position: fixed;
	z-index: 1054;
}

body.main-nav_mega-modal.header-08-lg.mega-menu-modal .modal-backdrop,
body.main-nav_mega-modal.header-08-lg.mega-menu-modal .modal {
	padding-top: 0;
	top: var(--large-header);
	height: calc(100% - var(--large-header)); 
}

body.main-nav_mega-modal.header-08-lg.mega-menu-modal .modal .modal-dialog {
	padding: 0;
	width: 100%;
	max-width: 100%;
}

/* Max width */
body.main-nav_mega-modal.header-08-lg.max-width.mega-menu-modal header#site-header,
body.main-nav_mega-modal.header-08-lg.max-width.mega-menu-modal .modal .modal-dialog {
	max-width: calc(var(--site-max-width) - var(--site-spacing_lg) - var(--site-spacing_lg));
}

body.main-nav_mega-modal.header-08-lg.mega-menu-modal .modal .modal-dialog.modal-dialog-centered {
	align-items: start;
}

/* Close button hidden */
body.main-nav_mega-modal.header-08-lg.mega-menu-modal .modal .close,
body.main-nav_mega-modal.header-08-lg.mega-menu-modal .modal::before {
	top: var(--large-header);
}
