/*  
---------------------------------------------------
Header large screens 02
---------------------------------------------------  
*/

body.header-02-lg header#site-header .row::before {
    content:"";
    order:2;
}
html[dir="ltr"] body.header-02-lg header#site-header .row::before { 
    margin-left:auto;
}
html[dir="rtl"] body.header-02-lg header#site-header .row::before { 
    margin-right:auto;
}

/* Logo */
body.header-02-lg header#site-header #logo { 
    order:1;
    align-self: start;
}

/* Main Navigation */
body.header-02-lg header#site-header nav.main { 
    order:2;
}
html[dir="ltr"] body.header-02-lg header#site-header nav.main { 
    margin-right: calc(var(--base-half-spacing) - 5px);
}
html[dir="rtl"] body.header-02-lg header#site-header nav.main { 
    margin-left: calc(var(--base-half-spacing) - 5px);
}

body.header-02-lg header#site-header nav.main>ul>li>span>a {
    padding: 0 10px;
}

body.header-02-lg header#site-header nav.main>ul>li>span::before {
    top: calc((var(--large-header) / 2) + 10px); right: 10px; left: 10px; 
    width:0;
    background: rgba(var(--header-highlight), 1);
}
html.no-touch body.header-02-lg header#site-header nav.main>ul>li:hover>span::before,
body.header-02-lg header#site-header nav.main>ul>li:focus>span::before,
body.header-02-lg header#site-header nav.main>ul>li:active>span::before,
body.header-02-lg header#site-header nav.main>ul>li.active>span::before,
body.header-02-lg header#site-header nav.main>ul>li.open-child>span::before {
    height: var(--base-border-width);
    width: calc(100% - 10px - 10px);
}
body.header-02-lg header#site-header nav.main>ul>li:focus-within>span::before {
    height: var(--base-border-width);
    width: calc(100% - 10px - 10px);
}
html.no-touch body.header-02-lg header#site-header nav.main>ul>li.has-child:hover>span::before,
body.header-02-lg header#site-header nav.main>ul>li.has-child:focus>span::before,
body.header-02-lg header#site-header nav.main>ul>li.has-child:active>span::before,
body.header-02-lg header#site-header nav.main>ul>li.has-child.active>span::before,
body.header-02-lg header#site-header nav.main>ul>li.has-child.open-child>span::before {
    width: calc(100% - 10px - 20px);
}
body.header-02-lg header#site-header nav.main>ul>li.has-child:focus-within>span::before {
    width: calc(100% - 10px - 20px);
}
html[dir="ltr"] body.header-02-lg header#site-header nav.main>ul>li.has-child>span::before {
    right: 20px;
}
html[dir="rtl"] body.header-02-lg header#site-header nav.main>ul>li.has-child>span::before {
    left: 20px;
}

body.header-02-lg header#site-header .has-child > .expand-subpages,
body.header-02-lg header#site-header nav.main ul li.has-child>span::after {
    width: 20px;
}
html[dir="ltr"] body.header-02-lg header#site-header nav.main>ul>li.has-child>span>a {
    padding-right: 20px;
}
html[dir="rtl"] body.header-02-lg header#site-header nav.main>ul>li.has-child>span>a {
    padding-left: 20px;
}

/* Main Navigation - Dropdowns */
body.header-02-lg header#site-header nav.main ul>li>ul {
    top: calc(var(--nav-main-height) - 7px);
}
html.no-touch body.header-02-lg header#site-header nav.main ul>li:hover>ul,
body.header-02-lg header#site-header nav.main ul>li.open-child>ul {
    top: var(--nav-main-height);
}

body.header-02-lg header#site-header nav.main ul ul>li>ul {
    top: -7px;
}
html.no-touch body.header-02-lg header#site-header nav.main ul ul>li:hover>ul,
body.header-02-lg header#site-header nav.main ul ul>li.open-child>ul {
    top: 0;
}

/* Secondary Navigation */
body.header-02-lg header#site-header nav.secondary { 
    order:3;
}
html[dir="ltr"] body.header-02-lg header#site-header nav.secondary { 
    margin-right: calc(var(--base-half-spacing) - 10px);
}
html[dir="rtl"] body.header-02-lg header#site-header nav.secondary { 
    margin-left: calc(var(--base-half-spacing) - 10px);
}

body.header-02-lg header#site-header nav.secondary ul li.dropdown .dropdown-menu { 
    top: calc(var(--nav-main-height) - 2px)!important; 
}
html[dir="ltr"] body.header-02-lg header#site-header nav.secondary ul li.dropdown .dropdown-menu { 
    right: 23px!important; left: auto!important;
}
html[dir="rtl"] body.header-02-lg header#site-header nav.secondary ul li.dropdown .dropdown-menu { 
    left: 23px!important; right: auto!important;
}

body.header-02-lg header#site-header nav.secondary ul li.dropdown > a > span { 
    display:none;
}

body.header-02-lg header#site-header nav.secondary ul li.dropdown > a > i {
    top: 2px;
    font-size: 125%;
}

/* Shopping Cart */
body.header-02-lg header#site-header nav.shopping-cart { 
    order:4;
}
html[dir="ltr"] body.header-02-lg header#site-header nav.shopping-cart { 
    margin-right: var(--base-half-spacing);
}
html[dir="rtl"] body.header-02-lg header#site-header nav.shopping-cart { 
    margin-left: var(--base-half-spacing);
}

/* CTA Navigation */
body.header-02-lg header#site-header nav.cta-links { 
    order:5;
}
html[dir="ltr"] body.header-02-lg header#site-header nav.cta-links { 
    margin-right: var(--base-half-spacing);
}
html[dir="rtl"] body.header-02-lg header#site-header nav.cta-links { 
    margin-left: var(--base-half-spacing);
}

/* Site Search */
body.header-02-lg header#site-header .site-search { 
    order:6;
}
html[dir="ltr"] body.header-02-lg header#site-header .site-search { 
    margin-right: var(--base-half-spacing);
}
html[dir="rtl"] body.header-02-lg header#site-header .site-search { 
    margin-left: var(--base-half-spacing);
}
html[dir="ltr"] body.header-02-lg header#site-header .site-search form { 
    right: 30px;
}
html[dir="rtl"] body.header-02-lg header#site-header .site-search form { 
    left: 30px;
}

@media (min-width: 1279px) {

    html[dir="ltr"].no-touch body.header-02-lg header#site-header nav.main ul>li:hover>ul,
    html[dir="ltr"] body.header-02-lg header#site-header nav.main ul>li.open-child>ul {
        left: auto; right:20px;
    }
    html[dir="rtl"].no-touch body.header-02-lg header#site-header nav.main ul>li:hover>ul,
    html[dir="rtl"] body.header-02-lg header#site-header nav.main ul>li.open-child>ul {
        right: auto; left:20px;
    }

    html[dir="ltr"].no-touch body.header-02-lg header#site-header nav.main ul ul>li:hover>ul,
    html[dir="ltr"] body.header-02-lg header#site-header nav.main ul ul>li.open-child>ul {
        left:auto;
        right: var(--nav-main-dropdown-width);
    }
    html[dir="rtl"].no-touch body.header-02-lg header#site-header nav.main ul ul>li:hover>ul,
    html[dir="rtl"] body.header-02-lg header#site-header nav.main ul ul>li.open-child>ul {
        right:auto;
        left: var(--nav-main-dropdown-width);
    }

}



/* Mega menu - Modal links inside Main Navigation */

html:has(body.main-nav_mega-modal.header-02-lg.mega-menu-modal),
body.main-nav_mega-modal.header-02-lg.mega-menu-modal,
body.main-nav_mega-modal.header-02-lg.mega-menu-modal .modal.show {
	padding: 0 !important;
}

html:has(body.main-nav_mega-modal.header-02-lg.mega-menu-modal),
body.main-nav_mega-modal.header-02-lg.mega-menu-modal {
	overflow: hidden !important;
}


body.main-nav_mega-modal.header-02-lg.mega-menu-modal:not(.transparent-header-lg) #site {
	padding-top: var(--large-header);
}

body.main-nav_mega-modal.header-02-lg.mega-menu-modal header#site-header {
	position: fixed;
	z-index: 1054;
}

body.main-nav_mega-modal.header-02-lg.mega-menu-modal .modal-backdrop,
body.main-nav_mega-modal.header-02-lg.mega-menu-modal .modal {
	padding-top: 0;
	top: var(--large-header);
	height: calc(100% - var(--large-header)); 
}

body.main-nav_mega-modal.header-02-lg.mega-menu-modal .modal .modal-dialog {
	padding: 0;
	width: 100%;
	max-width: 100%;
}

/* Max width */
body.main-nav_mega-modal.header-02-lg.max-width.mega-menu-modal header#site-header,
body.main-nav_mega-modal.header-02-lg.max-width.mega-menu-modal .modal .modal-dialog {
	max-width: calc(var(--site-max-width) - var(--site-spacing_lg) - var(--site-spacing_lg));
}

body.main-nav_mega-modal.header-02-lg.mega-menu-modal .modal .modal-dialog.modal-dialog-centered {
	align-items: start;
}

/* Close button hidden */
body.main-nav_mega-modal.header-02-lg.mega-menu-modal .modal .close,
body.main-nav_mega-modal.header-02-lg.mega-menu-modal .modal::before {
	top: var(--large-header);
}
