/*  
---------------------------------------------------
Header large screens 18
---------------------------------------------------  
*/

/* Row */
body.header-18-lg:not(.transparent-header-lg) header#site-header {
    box-shadow: var(--header-box-shadow_h) var(--header-box-shadow_v) var(--header-box-shadow_b) rgba(var(--true-black), var(--header-box-shadow_o));
}

body.header-18-lg header#site-header .container-fluid::after,
body.header-18-lg header#site-header .container::after {
    content: "";
    position: absolute; top: calc(var(--large-header) / 2); right: var(--base-half-spacing); left: var(--base-half-spacing); z-index:-1;
    height: var(--base-border-width);
    background-color: rgba(var(--header-borders), 1);
}

body.header-18-lg header#site-header .row {
    position: relative;
    height: var(--large-header);
    align-items: flex-end;
}

body.header-18-lg header#site-header .row::before {
    content:"";
    width: 1px; height: calc(var(--large-header) / 2);
}
html[dir="ltr"] body.header-18-lg header#site-header .row::before { 
    margin-left:auto;
}
html[dir="rtl"] body.header-18-lg header#site-header .row::before { 
    margin-right:auto;
}

body.header-18-lg header#site-header .row::after {
    content: "";
    width: 100%;
    height: var(--base-border-width);
}

/* Logo */
body.header-18-lg header#site-header #logo {
    padding:  0 var(--logo_lg-padding_right) 0 var(--logo_lg-padding_left);
    height: calc(var(--large-header) / 2);
}
body.header-18-lg header#site-header #logo:not(.no-image) { 
    padding: var(--logo_lg-padding_top) var(--logo_lg-padding_right) var(--logo_lg-padding_bottom) var(--logo_lg-padding_left);
}

body.header-18-lg header#site-header #logo picture,
body.header-18-lg header#site-header #logo img { 
    height: calc(var(--large-header) / 2 - var(--logo_lg-padding_top) - var(--logo_lg-padding_bottom));
    max-height: calc(var(--large-header) / 2 - var(--logo_lg-padding_top) - var(--logo_lg-padding_bottom));
}  

body.header-18-lg header#site-header #logo.no-image span { 
    height: calc((var(--large-header) / 2) - var(--logo_lg-padding_top) - var(--logo_lg-padding_bottom));
    line-height: calc(var(--large-header) / 2);
}

/* Orders */
body.header-18-lg header#site-header #logo {
    order:1;
    align-self: start;
    flex: 0 0 1;
}
body.header-18-lg header#site-header .row::before {
    order: 2;
    align-self: flex-start;
    flex: 0;
}
body.header-18-lg:not(.header-03-lg):not(.header-11-lg):not(.header-12-lg):not(.header-15-lg):not(.header-16-lg):not(.header-17-lg):not(.header-19-lg):not(.header-20-lg) header#site-header .site-search { 
    order: 3;
    align-self: flex-start;
    flex: 1;
}
body.header-18-lg header#site-header nav.cta-links { 
    order: 4;
    align-self: flex-start;
    flex: 0 1 auto;
}
body.header-18-lg header#site-header nav.shopping-cart { 
    order: 5;
    align-self: flex-start;
    flex: 1;
}
body.header-18-lg header#site-header .row::after { 
    order: 6;
    align-self: flex-start;
    flex: 1 0 100%;
}
body.header-18-lg header#site-header nav.main { 
    order: 7;
    align-self: flex-end;
    flex: 1;
}
body.header-18-lg header#site-header nav.secondary { 
    order: 8;
    align-self: flex-end;
    flex: 0;
}

/* Main Navigation */
body.header-18-lg header#site-header nav.main { 
    height: calc(var(--large-header) / 2);
}
html[dir="ltr"] body.header-18-lg header#site-header nav.main { 
    margin-right: auto;
}
html[dir="rtl"] body.header-18-lg header#site-header nav.main { 
    margin-left: auto;
}
body.header-18-lg header#site-header nav.main>ul>li {
    height: calc(var(--large-header) / 2);
}
body.header-18-lg header#site-header nav.main>ul>li>span>a {
    height: calc(var(--large-header) / 2);
    line-height: calc(var(--large-header) / 2);
}
body.header-18-lg header#site-header .has-child > .expand-subpages,
body.header-18-lg header#site-header nav.main>ul>li.has-child>span::after {
    height: calc(var(--large-header) / 2);
    line-height: calc(var(--large-header) / 2);
}

body.header-18-lg header#site-header nav.main>ul>li>span>a {
    padding: 0 var(--base-half-spacing);
}

body.header-18-lg header#site-header nav.main>ul>li>span::before {
    top: calc((var(--large-header) / 2) - (var(--base-border-width) * 2)); right: var(--base-half-spacing); left: var(--base-half-spacing);
    border-radius: var(--base-border-radius);
    width: 0;
    height: calc(var(--base-border-width) * 2);
}
html.no-touch body.header-18-lg header#site-header nav.main>ul>li:hover>span::before,
body.header-18-lg header#site-header nav.main>ul>li:focus>span::before,
body.header-18-lg header#site-header nav.main>ul>li:active>span::before,
body.header-18-lg header#site-header nav.main>ul>li.active>span::before,
body.header-18-lg header#site-header nav.main>ul>li.open-child>span::before {
    height: calc(var(--base-border-width) * 2);
    width: calc(100% - var(--base-half-spacing) - var(--base-half-spacing));
}
body.header-18-lg header#site-header nav.main>ul>li:focus-within>span::before {
    height: var(--base-border-width);
    width: calc(100% - var(--base-half-spacing) - var(--base-half-spacing));
}
html.no-touch body.header-18-lg header#site-header nav.main>ul>li.has-child:hover>span::before,
body.header-18-lg header#site-header nav.main>ul>li.has-child:focus>span::before,
body.header-18-lg header#site-header nav.main>ul>li.has-child:active>span::before,
body.header-18-lg header#site-header nav.main>ul>li.has-child.active>span::before,
body.header-18-lg header#site-header nav.main>ul>li.has-child.open-child>span::before {
    width: calc(100% - var(--base-half-spacing) - 20px);
}
body.header-18-lg header#site-header nav.main>ul>li.has-child:focus-within>span::before {
    width: calc(100% - var(--base-half-spacing) - 20px);
}
html[dir="ltr"] body.header-18-lg header#site-header nav.main>ul>li.has-child>span::before {
    right: 20px;
}
html[dir="rtl"] body.header-18-lg header#site-header nav.main>ul>li.has-child>span::before {
    left: 20px;
}

body.header-18-lg header#site-header .has-child > .expand-subpages,
body.header-18-lg header#site-header nav.main ul li.has-child>span::after {
    width: 20px;
}
html[dir="ltr"] body.header-18-lg header#site-header nav.main>ul>li.has-child>span>a {
    padding-right: 20px;
}
html[dir="rtl"] body.header-18-lg header#site-header nav.main>ul>li.has-child>span>a {
    padding-left: 20px;
}

/* Main Navigation - Dropdowns */
body.header-18-lg header#site-header nav.main ul>li>ul {
    top: calc((var(--large-header) / 2) - 3px);
}

html.no-touch body.header-18-lg header#site-header nav.main ul>li:hover>ul,
body.header-18-lg header#site-header nav.main ul>li.open-child>ul {
    top: calc(var(--large-header) / 2);
}

html.no-touch[dir="ltr"] body.header-18-lg header#site-header nav.main>ul>li:hover>ul,
html[dir="ltr"] body.header-18-lg header#site-header nav.main>ul>li.open-child>ul {
    left: var(--base-half-spacing);
}
html.no-touch[dir="rtl"] body.header-18-lg header#site-header nav.main>ul>li:hover>ul,
html[dir="rtl"] body.header-18-lg header#site-header nav.main>ul>li.open-child>ul {
    right: var(--base-half-spacing);
}

body.header-18-lg header#site-header nav.main ul ul>li>ul {
    top: -3px;
}
html.no-touch body.header-18-lg header#site-header nav.main ul ul>li:hover>ul,
body.header-18-lg header#site-header nav.main ul ul>li.open-child>ul {
    top: 0;
}

/* Secondary Navigation */
body.header-18-lg header#site-header nav.secondary { 
    height: calc(var(--large-header) / 2);
}
html[dir="ltr"] body.header-18-lg header#site-header nav.secondary { 
    margin-right: var(--base-half-spacing);
    margin-left: auto;
}
html[dir="rtl"] body.header-18-lg header#site-header nav.secondary { 
    margin-left: var(--base-half-spacing);
    margin-right: auto;
}

body.header-18-lg header#site-header nav.secondary>ul,
body.header-18-lg header#site-header nav.secondary>ul>li>span>div, 
body.header-18-lg header#site-header nav.secondary>ul>li>span>a, 
body.header-18-lg header#site-header nav.secondary>ul>li>a { 
    height: calc(var(--large-header) / 2);
    line-height: calc(var(--large-header) / 2);
}

body.header-18-lg header#site-header nav.secondary ul li.dropdown .dropdown-menu { 
    top: calc((var(--large-header) / 2) - 3px)!important;
}

html[dir="ltr"] body.header-18-lg header#site-header nav.secondary ul li.dropdown .dropdown-menu { 
    right: 0!important; left: auto!important;
}
html[dir="rtl"] body.header-18-lg header#site-header nav.secondary ul li.dropdown .dropdown-menu { 
    left: 0!important; right: auto!important;
}

html[dir="ltr"] body.header-18-lg header#site-header nav.secondary ul li.language-selector.dropdown { 
    padding-right: 5px;
}
html[dir="rtl"] body.header-18-lg header#site-header nav.secondary ul li.language-selector.dropdown { 
    padding-left: 5px;
}


/* CTA Navigation */
body.header-18-lg header#site-header nav.cta-links {
    position: relative; top: 25%; z-index: 602;
    display: flex; 
    transform: translateY(-50%);
}
html[dir="ltr"] body.header-18-lg header#site-header nav.cta-links {
    padding-right: var(--base-half-spacing);
}
html[dir="rtl"] body.header-18-lg header#site-header nav.cta-links {
    padding-left: var(--base-half-spacing);
}
html[dir="ltr"] body.header-18-lg header#site-header nav.cta-links .btn+.btn {
    margin-left: 5px;
}
html[dir="rtl"] body.header-18-lg header#site-header nav.cta-links .btn+.btn {
    margin-right: 5px;
}

/* Shopping Cart */
body.header-18-lg header#site-header nav.shopping-cart { 
    width: 30px; max-width: 30px; 
    height: calc(var(--large-header) / 2);
}
body.header-18-lg header#site-header nav.shopping-cart button.open-cart,
html#ecwid_html.usn body#ecwid_body.header-18-lg header#site-header nav.shopping-cart .ec-cart-widget, 
html#ecwid_html.usn body#ecwid_body.header-18-lg header#site-header nav.shopping-cart .ec-cart-widget .ec-minicart, 
html#ecwid_html.usn body#ecwid_body.header-18-lg header#site-header nav.shopping-cart .ec-cart-widget .ec-minicart__body,
html#ecwid_html.usn body#ecwid_body.header-18-lg header#site-header .ec-cart-widget .ec-minicart__body .ec-minicart__wrap { 
    height: calc(var(--large-header) / 2);
}
html[dir="ltr"] body.header-18-lg header#site-header nav.shopping-cart {
    margin-right: var(--base-half-spacing);
}
html[dir="rtl"] body.header-18-lg header#site-header nav.shopping-cart {
    margin-left: var(--base-half-spacing);
}

/* Site Search */
body.header-18-lg:not(.header-03-lg):not(.header-11-lg):not(.header-12-lg):not(.header-15-lg):not(.header-16-lg):not(.header-17-lg):not(.header-19-lg):not(.header-20-lg) header#site-header .site-search { 
    position: relative; top: 25%; 
    transform: translateY(-50%);
    height: calc(var(--large-header) / 2);
} 
html[dir="ltr"] body.header-18-lg:not(.header-03-lg):not(.header-11-lg):not(.header-12-lg):not(.header-15-lg):not(.header-16-lg):not(.header-17-lg):not(.header-19-lg):not(.header-20-lg) header#site-header .site-search {
    padding-right: var(--base-half-spacing);    
}
html[dir="rtl"] body.header-18-lg:not(.header-03-lg):not(.header-11-lg):not(.header-12-lg):not(.header-15-lg):not(.header-16-lg):not(.header-17-lg):not(.header-19-lg):not(.header-20-lg) header#site-header .site-search {
    padding-left: var(--base-half-spacing);
}
body.header-18-lg:not(.header-03-lg):not(.header-11-lg):not(.header-12-lg):not(.header-15-lg):not(.header-16-lg):not(.header-17-lg):not(.header-19-lg):not(.header-20-lg) header#site-header .site-search form { 
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}
body.header-18-lg:not(.header-03-lg):not(.header-11-lg):not(.header-12-lg):not(.header-15-lg):not(.header-16-lg):not(.header-17-lg):not(.header-19-lg):not(.header-20-lg) header#site-header .site-search .form-control { 
    width: 100%;
}


/* On scroll */
html.nav-up body.header-18-lg.show_header-on-scroll-lg header#site-header {
    top: calc((var(--large-header) / 2) * -1);
}
body.header-18-lg header#site-header .container,
body.header-18-lg header#site-header .container-fluid::after,
body.header-18-lg header#site-header .container::after  { 

    -webkit-transition: 
        top 0.3s ease-in-out 0s,
        padding 0.3s ease-in-out 0s,
        padding-top 0.3s ease-in-out 0s,
        opacity 0.3s ease-in-out 0s,
        width 0.3s ease-in-out 0s,
        max-width 0.3s ease-in-out 0s,
        height 0.3s ease-in-out 0s,
        max-height 0.3s ease-in-out 0s,
        box-shadow 0.3s ease-in-out 0s,
        background-color 0.3s ease-in-out 0s;
    transition: 
        top 0.3s ease-in-out 0s,
        padding 0.3s ease-in-out 0s,
        padding-top 0.3s ease-in-out 0s,
        opacity 0.3s ease-in-out 0s,
        width 0.3s ease-in-out 0s,
        max-width 0.3s ease-in-out 0s,
        height 0.3s ease-in-out 0s,
        max-height 0.3s ease-in-out 0s,
        box-shadow 0.3s ease-in-out 0s,
        background-color 0.3s ease-in-out 0s;
}
html.nav-up body.header-18-lg.show_header-on-scroll-lg header#site-header .container { 
    width:100%; 
} 
html.nav-up body.header-18-lg.show_header-on-scroll-lg header#site-header .container-fluid::after,
html.nav-up body.header-18-lg.show_header-on-scroll-lg header#site-header .container::after { 
    opacity:0;
}




/* Mega menu - Modal links inside Main Navigation */

html:has(body.main-nav_mega-modal.header-18-lg.mega-menu-modal),
body.main-nav_mega-modal.header-18-lg.mega-menu-modal,
body.main-nav_mega-modal.header-18-lg.mega-menu-modal .modal.show {
	padding: 0 !important;
}

html:has(body.main-nav_mega-modal.header-18-lg.mega-menu-modal),
body.main-nav_mega-modal.header-18-lg.mega-menu-modal {
	overflow: hidden !important;
}


body.main-nav_mega-modal.header-18-lg.mega-menu-modal:not(.transparent-header-lg) #site {
	padding-top: var(--large-header);
}

body.main-nav_mega-modal.header-18-lg.mega-menu-modal header#site-header {
	position: fixed; z-index:1054;
}

body.main-nav_mega-modal.header-18-lg.mega-menu-modal .modal-backdrop,
body.main-nav_mega-modal.header-18-lg.mega-menu-modal .modal {
	padding-top: 0;
	top: var(--large-header);
	height: calc(100% - var(--large-header)); 
}

body.main-nav_mega-modal.header-18-lg.mega-menu-modal .modal .modal-dialog {
	padding: 0;
	width: 100%;
	max-width: 100%;
}

/* Max width */
body.main-nav_mega-modal.header-18-lg.max-width.mega-menu-modal header#site-header,
body.main-nav_mega-modal.header-18-lg.max-width.mega-menu-modal .modal .modal-dialog {
	max-width: calc(var(--site-max-width) - var(--site-spacing_lg) - var(--site-spacing_lg));
}

body.main-nav_mega-modal.header-18-lg.mega-menu-modal .modal .modal-dialog.modal-dialog-centered {
	align-items: start;
}

/* Half height on scroll */
html.nav-up body.main-nav_mega-modal.header-18-lg.show_header-on-scroll-lg.mega-menu-modal:not(.transparent-header-lg) #site {
	padding-top: calc(var(--large-header) / 2);
}

html.nav-up body.main-nav_mega-modal.header-18-lg.show_header-on-scroll-lg.mega-menu-modal:not(.no-header) .modal-backdrop,
html.nav-up body.main-nav_mega-modal.header-18-lg.show_header-on-scroll-lg.mega-menu-modal:not(.no-header) .modal {
	top: calc(var(--large-header) / 2);
	height: calc(100% - (var(--large-header) / 2)); 
}

/* Close button hidden */
body.main-nav_mega-modal.header-18-lg.mega-menu-modal .modal .close,
body.main-nav_mega-modal.header-18-lg.mega-menu-modal .modal::before {
	top: var(--large-header);
}
/* Half from header */
html.nav-up body.main-nav_mega-modal.header-18-lg.show_header-on-scroll-lg.mega-menu-modal .modal .close,
html.nav-up body.main-nav_mega-modal.header-18-lg.show_header-on-scroll-lg.mega-menu-modal .modal::before {
	top: calc(var(--large-header) / 2);
}
