/*  
---------------------------------------------------
Header small screens 03
---------------------------------------------------  
*/

body.header-03-sm header#site-header #logo { 
    order:1;
    align-self: start;
}

body.header-03-sm header#site-header nav.shopping-cart { 
    order:2;
    right: var(--expand-nav-width);
    width: var(--expand-nav-width);
}

body.header-03-sm header#site-header nav.main,
body.header-03-sm header#site-header nav.cta-links,
body.header-03-sm header#site-header .site-search,
body.header-03-sm header#site-header nav.secondary { 
    width: 100%;
}

body.header-03-sm header#site-header .site-search { 
    order:3;
    padding: 0 var(--base-half-spacing) var(--base-half-spacing);
}

body.header-03-sm header#site-header nav.main { 
    order:4;
}
body.header-03-sm header#site-header nav.main>ul,
body.header-03-sm header#site-header nav.main>ul li { 
    border:0 none;
}

body.header-03-sm header#site-header nav.main ul li span::before {
    top: var(--base-half-spacing); bottom: var(--base-half-spacing); 
    height:auto;
}

body.header-03-sm nav.main ul li.has-child.open-child_mobile>span::after,
body.header-03-sm header#site-header nav.main ul ul li { 
    background: rgba(var(--navigation-dropdown-color1), 1);
}
body.header-03-sm nav.main ul li.has-child.open-child_mobile>span::after { 
    color: rgba(var(--navigation-dropdown-link), 1);
}
body.header-03-sm nav.main ul li.has-child.open-child_mobile>span::after { 
    border-radius: var(--base-border-radius) var(--base-border-radius) 0 0;
}

html[dir="ltr"] body.header-03-sm header#site-header nav.main ul ul {
    padding-left:0;
}

/* Dropdown links */

body.header-03-sm nav.main ul ul>li>span>a {
    color:  rgba(var(--navigation-dropdown-link), 1);
}
body.header-03-sm nav.main ul ul>li>span>a:hover,
body.header-03-sm nav.main ul ul>li:hover>span>a {
    color:  rgba(var(--navigation-dropdown-link-hover), 1);
}
body.header-03-sm nav.main ul ul>li:focus-within>span>a {
    color:  rgba(var(--navigation-dropdown-link-hover), 1);
}
body.header-03-sm nav.main ul ul>li.active>span>a {
    color:  rgba(var(--navigation-dropdown-link-active), 1);
}

/* Dropdown — arrow colors */

body.header-03-sm nav.main ul ul li.has-child>span::after {
    color: rgba(var(--navigation-dropdown-link), 1);
}
body.header-03-sm nav.main ul ul li:not(.active):hover>span::after,
body.header-03-sm nav.main ul ul li:not(.active):focus>span::after,
body.header-03-sm nav.main ulv li:not(.active):active>span::after,
body.header-03-sm nav.main ul ul li:not(.active).open-child>span::after {
    color: rgba(var(--navigation-dropdown-link-hover), 1);
}
body.header-03-sm nav.main ul ul li:not(.active):focus-within>span::after {
    color: rgba(var(--navigation-dropdown-link-hover), 1);
}
body.header-03-sm nav.main ul ul li.active.has-child>span::after { 
    color: rgba(var(--navigation-dropdown-link-active), 1);
}

body.header-03-sm header#site-header nav.cta-links,
body.header-03-sm header#site-header nav.secondary { 
    padding: var(--base-half-spacing) var(--base-half-spacing) 0;
}

body.header-03-sm header#site-header nav.cta-links { 
    order:5;
}

body.header-03-sm header#site-header nav.secondary { 
    order:6;
}