<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="8623aa1a-0d67-4497-a70c-dacadf817e7a" Alias="USN Umbraco Form Not Selected" Level="2">
  <Info>
    <Parent>USN Generic Form Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">An Umbraco Form has not been selected in the CMS.</Translation>
    <Translation Language="es"></Translation>
  </Translations>
</Dictionary>