<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4d0f90b4-aa88-400f-91ad-dde8e73fb9e6" Alias="USN Login Form Remember Me Label" Level="2">
  <Info>
    <Parent>USN Login Form Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Keep me logged in on this device?</Translation>
  </Translations>
</Dictionary>